

.nav_wrapper {
  left: 0;
  top: 0;
  width: 100%;
  transition: top .5s ease-out;
  background: white;
  position: relative;
  clear: both;
    padding-left: 50px;
    padding-right: 50px;
}

.scroll { top: -90px; }

.no-scroll {
  top: 0;
  z-index: 9999;
}


main {
  max-width: 800px;
  margin: 0 auto;
}

main p {  1.2em;
}

.navi-btn {
  float: right;
  margin-top: 27px;
  color: black;
  font-size: 0.8em;
  padding: 4px;
}

.navi-btn:hover { color: #efa666; }

.search_box {
  clear: both;
  width: 100%;
  background: #e8ebf0;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
#search{
    background-image: url(../img/search.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
}
@media (min-width:1000px) and (max-width:1140px){
    #search,#delivery{
        display: none;
    }
}
.search_box.active {
  height: auto;
  padding: 15px 0;
}

.search_box input {
  width: 80%;
  font-size: 13px;
  margin: 0 0 0 15px;
  padding: 10px;
  border: none;
  background: #fff;
}

.search_box input:focus { outline: none; }

.search_box input.search_icon {
  clear: both;
  width: 10%;
  height: auto;
  padding: 10px;
  margin: 0;
  margin-left: -5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #8c949d;
  opacity: 1;
  transition: all 0.1s ease;
}

.search_box input.search_icon:hover { background: #efa666; }

.menu-link { display: none; }

.spinner-master input[type=checkbox] { display: none; }

.menu {
  height: auto;
  background: white;
  transition: all 0.3s ease;
    margin: 0 auto;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 600px;
  margin: 0 auto;
    text-align: center;
 
}

.menu > li > ul.sub_menu {
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
  border: 1px solid #fff;
}

.menu ul li { padding: 0px; }
.main-li > a:hover{
    color: #dd3070;
}
.menu > ul > li { 
    display: inline-block;
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
}


.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    transition: all 0.3s ease;
}

.menu ul li:hover > ul {   
    display: block;
    transition: all 0.3s ease; 
    height: auto;
}

.dropdown-ul li { 
    position: relative; 
    text-align: left;
}

.dropdown-ul li a {
    padding: 10px 15px;
    height: auto;
    font-weight: normal !important;
    
}
.menu li.has-submenu > a{
    padding-top:30px;
    padding-bottom:30px;
    font-size: 0.8em;
}

#hero {
    width: 100%;
    height: auto;
    background: #e8ebf0;
    margin: 70px 0 20px 0;
}

#hero img {
    width: 100%;
    height: auto;
}

@media all and (min-width:1000px){
    .menu ul ul{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dropdown-submenu{
        width: 700px;
        margin: 0 auto;
    }
    .dropdown-ul { 
        display: inline-block;
        float: left;
        width: 33%;
    }
    .dropdown-banner{
        display: inline-block;
        float: left;
        width: 33%;
    }
    .dropdown-banner > h4{
        border-bottom: 1px solid black;
        padding-bottom: 1px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .dropdown-banner > p{
        font-size: 0.8em;
        margin-top:12px;
        color: #888;
    }
    .dropdown-banner > p:last-child{
        margin-top: 7px;
        text-decoration: underline;
        color: black;
    }
    .dropdown-banner img{
        width: 200px;
        height: 200px;
        overflow-y: hidden;
    }
    
}


 @media all and (max-width: 999px) {

     .nav_wrapper{
         padding: 0;
     }
     .menu{
         width: 100%;
     }
.example-header .container { width: 100%; }

.navi-btn { 
    padding:0px; 
    margin: 15px;
    text-align: center;
    width: 20px;
    font-size: 0;
}

.spinner-master * {
  transition: all 0.3s;
  box-sizing: border-box;
}

.spinner-master {
  position: relative;
  margin: 15px;
  height: 30px;
  width: 30px;
  float: left;
}

.spinner-master label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}

.spinner-master .spinner {
  position: absolute;
  height: 4px;
  width: 100%;
  padding: 0;
  background-color: black;
}

.spinner-master .diagonal.part-1 {
  position: relative;
  float: left;
}

.spinner-master .horizontal {
  position: relative;
  float: left;
  margin-top: 4px;
}

.spinner-master .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 4px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal { opacity: 0; }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 10px;
}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: -12px;
}

a.menu-link {
  display: block;
  color: #fff;
  float: left;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 1.5em;
}

a.menu-link:hover { color: #efa666; }

a.menu-link:after {
  content: "\2630";
  font-weight: normal;
}

a.menu-link.active:after { content: "\2715"; }

.menu {
  clear: both;
  min-width: inherit;
  float: none;
}

.menu,
.menu > ul ul {
  overflow: hidden;
  max-height: 0;
  background-color: white;
    text-align: left;
}

.menu > li > ul.sub-menu {
  padding: 0px;
  border: none;
}
.menu li.has-submenu > a{
    padding:1.1em;
    text-align: left;
}
.menu.active,
.menu > ul ul.active { max-height: 55em; }

.menu ul { display: inline;
    
     }

.menu li,
.menu > ul > li { 
    display: block; 
    float: none;
    width: 100%;
    text-align: left;
}

.menu > ul > li:last-of-type a { border: none; }

.menu li a {
  color: #fff;
  display: block;
  position: relative;
}
.has-submenu > .active{
    color: #dd3070;
}
.menu li.has-submenu > a:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.5em;
  padding: 0.55em 0.5em;
}

.menu li.has-submenu > a.active:after { 
    content: "-"; 
}
     
.dropdown-ul li { 
    position: relative; 
    text-align: left;
}
.dropdown-ul li a {
  background-color: white;
  padding: 10px 18px 10px 30px;
    font-weight: normal;
}

.menu ul li a:hover {
  background: white;
}

.menu ul li.hover > a {
  background: white;
  color: black;
}

.menu ul ul,
.menu ul ul ul {
  display: inherit;
  position: relative;
  left: auto;
  top: auto;
  border: none;
}

.search_box {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.search_box input { width: 70%; }
.search_box input.search_icon { width: 17%; }
#hero { height: 200px; }
.dropdown-banner{
    display: none;
}
}


.f-nav{ 
    z-index: 9999; 
    position: fixed; 
    top: 0;
    background-color: white;
    animation-name: ani;
    -webkit-animation-name: ani;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    animation-timing-function:ease-in-out;
    -webkit-animation-timing-function:ease-in-out;
    opacity: 0;
}
@keyframes ani{
    100% {
    opacity: 1;
        }
}
